*{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

body{
    background-color: rgba(168, 167, 167, 0.6);
}

p{
    margin: 2% 5% 5% 5%;
    text-align: left;
}

.courses li{
    text-align: left;
}

.subheader{
    margin-left: 2%;
    text-align: left;
}

.project{
    height: 16vw;
    min-height: 50px;
    max-height: 100px;
    width: 16vw;
    min-width: 50px;
    max-width: 100px;
    border-radius: 30px;
    margin: 5%;
}

.project a{
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.project_pic{
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.project_title{
    height: auto;
    width: inherit;
    text-align: center;
    font-size: 2vw;
    display: contents;
}

#projects{
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5%;
}

#nav{
    background-color: rgba(200,200,200,.5);
    text-align: right;
    padding-top: 1%;
    padding-bottom: 1%;
}

#nav li{
    font-size: 2vw;
    display: inline;
}

#welcome p{
    text-align: center;
}