/* Set the default characteristics for the tags */
* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsla(0,0%, 60%, 1);
}

p {
    margin: 2% 5% 5% 5%;
    text-align: left;
}

/* Styling for the header */
header {
    min-height: 75px;
    max-height: 125px;
    height: 100px;
    background-color: hsla(0,0%,25%,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo h1{
    color: hsla(0,0%,90%,1);
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1em;
    padding: 5%;
    transition: font-size 1s;
}

.logo h1:hover {
    font-size: 3vw;
    cursor: pointer;
}

/* Navigation bar */
nav {
    height: 100%;
    width: 40%;
}

.nav-links {
    height: inherit;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    background-color: hsla(0,0%,75%,1);
    color: hsla(0,0%,25%,1);
    padding: 1vw 2vw;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover, .dropdown-menu:hover .nav-link {
    background-color: hsla(0,0%,50%,1);
    color: hsla(0,0%,90%,1);
}

.dropdown-menu {
    height: fit-content;
    position: relative;
}

.dropdown-content {
    background-color: hsla(0,0%,75%,1);
    min-width: 250px;
    border-radius: 20px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: hsla(0,0%,75%,1);
    color: hsla(0,0%,25%,1);
    padding: 15px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    background-color: hsla(0,0%,50%,1);
    color: hsla(0,0%,90%,1);
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

























.welcome p {
    text-align: center;
}

.projects-section {
    background-color: hsla(0,0%,50%,1);
    padding: 2.5%;
}

.projects-container {
    background-color: hsla(160,50%,50%,.5);
    height: fit-content;
    width: 95%;
    padding: 2.5%;
    border-radius: 30px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    height: 16vw;
    min-height: 50px;
    max-height: 100px;
    width: 16vw;
    min-width: 50px;
    max-width: 100px;
    border-radius: 30px;
    margin: 5%;
}

.project a {
    display: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.project-pic {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.left-header {
    margin-left: 2%;
    text-align: left;
}

.courses li {
    margin-left: 5%;
    text-align: left;
}

.back-to-top {
    background-color: aqua;
    height: 2vw;
    min-height: 40px;
    max-height: 100px;
    width: 2vw;
    min-width: 40px;
    max-width: 100px;
    border-radius: 1vw;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.back-to-top a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}