* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: hsla(120,50%,50%,1);
    font-weight: bold;
    text-transform: uppercase;
    padding: 5%;
}

header h1 {
    font-size: 4em;
}

body {
    background-color: hsla(0,0%, 60%, 1);
}

p {
    margin: 2% 5% 5% 5%;
    text-align: left;
}

.nav {
    background-color: hsla(0,0%,25%,1);
    height: 5%;
    width: 100%;
}

.nav li {
    background-color: hsla(0,0%,75%,1);
    height: inherit;
    width: 10%;
    float: left;
    list-style-type: none;
}

.sub_nav {
    display: none;
}

.sub_nav li {
    background-color: hsla(0, 0%, 60%, 1);
}

.welcome p {
    text-align: center;
}

.projects_section {
    background-color: hsla(0,0%,50%,1);
    padding: 2.5%;
}

.projects_container {
    background-color: hsla(160,50%,50%,.5);
    height: fit-content;
    width: 80%;
    padding: 2.5%;
    border-radius: 10%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    height: 16vw;
    min-height: 50px;
    max-height: 100px;
    width: 16vw;
    min-width: 50px;
    max-width: 100px;
    border-radius: 30px;
    margin: 5%;
}

.project a {
    display: inherit;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.project_pic {
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: inherit;
}

.project_title {
    height: auto;
    width: inherit;
    text-align: center;
    font-size: 2vw;
}

.class_type {
    margin-left: 2%;
    text-align: left;
}

.courses li {
    margin-left: 5%;
    text-align: left;
}